* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Graphik LCG", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
}
.wrapper {
  width: 100%;
  max-width: 1338px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1290px;
  width: 100%;
  max-width: 1338px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}
